arm/*
!arm/*.uvproj
!arm/*.uvopt
*.uvgui.*
*.dep
*.log
*.bak
*.ini
*.rej
*.orig
_build
BuildLog.log
log.log
*.emSession
Output
*.jlink
.*.swp
*.uvguix.*
JLinkLog.txt
JLinkSettings.ini
EventRecorderStub.scvd
settings
*.ewt
